#!/usr/bin/env python

import io
import os

import setuptools

dependencies = [{%- if use_cli and commandline_interface == 'click' %}'Click>=8.0',{%- endif%}]

{%- set license_classifiers = {
    'MIT': 'License :: OSI Approved :: MIT License',
    'BSD 2-Clause "Simplified"': 'License :: OSI Approved :: BSD License',
    'BSD 3-Clause "Revised"': 'License :: OSI Approved :: BSD License',
    'Unlicense': 'License :: OSI Approved :: The Unlicense (Unlicense)',
    'GNU GPLv3': 'License :: OSI Approved :: GNU General Public License v3 (GPLv3)',
    'GNU AGPLv3': 'License :: OSI Approved :: GNU Affero General Public License v3'
} %}

# Setup boilerplate below this line.

package_root = os.path.abspath(os.path.dirname(__file__))

readme_filename = os.path.join(package_root, "README.rst")
with io.open(readme_filename, encoding="utf-8") as readme_file:
    readme = readme_file.read()

# Only include packages under the '{{ package_name }}' namespace. Do not include tests,
# benchmarks, etc.
packages = [
    package for package in setuptools.find_packages() if package.startswith("{{ package_name }}")
]

# Determine which namespaces are needed, when namespaced packages are supposed to be used
# namespaces = ["{{ package_name }}"]
# if "{{ package_name }}.<namespace>" in packages:
#     namespaces.append("{{ package_name }}.<namespace>")

setuptools.setup(
    name="{{ project_name }}",
    version="{{ initial_version }}",
    description="{{ project_short_description }}",
    long_description=readme,
    author="{{ full_name }}",
    author_email="{{ email }}",
{% if is_open_source %}    license="{{ open_source_license }}",{% endif %}
    url="https://github.com/{{ github_username }}/{{ project_name }}",
    classifiers=[
        "{{ release_status }}",
{%- if open_source_license in license_classifiers %}
        "{{ license_classifiers[open_source_license] }}",
{%- endif %}
    "{{ intended_audience }}",
    "{{ target_os }}",
    "{{ topic }}",
    "Programming Language :: Python",
{%- for py_version in supported_py_versions %}
    "Programming Language :: Python :: {{ py_version }}",
{%- endfor %}
    ],
    packages=packages,
    # namespace_packages=namespaces,
    install_requires=dependencies,
{%- if use_cli %}
    entry_points={
        'console_scripts': [
            '{{ package_name }}={{ package_name }}.cli:main',
        ],
    },
{%- endif %}
    python_requires=">={{ min_py_version }}",
    include_package_data=True,
    zip_safe=False,
)
