#!/usr/bin/env python

"""Tests for `{{ package_name }}` package."""

{% if use_pytest -%}
import pytest

from {{ package_name }} import {{ package_name }}

def test_example_class_construction():
    my_instance = {{ package_name }}.ExampleClass(123)
    assert isinstance(my_instance.passed_argument, int)
    assert my_instance.passed_argument == 123

def test_example_class_convert_argument_to_str():
    my_instance = {{ package_name }}.ExampleClass(123)
    assert isinstance(my_instance.passed_argument, int)
    assert isinstance(my_instance.convert_argument_to_str(), str)

{%- endif %}