"""Console script for {{ package_name }}."""
import sys

{%- if commandline_interface|lower == 'click' %}
import click
{%- endif %}


{%- if commandline_interface|lower == 'click' %}
@click.command()
def main(args=None):
    """Console script for {{ package_name }}."""
    click.echo("Place your code into {{ package_name }}.cli.main")
    return 0
{%- else %}
def main(args=None):
    """Currently this kind of commandline interface is not supported"""
    return 1
{%- endif %}

if __name__ == "__main__":
    sys.exit(main())  # pragma: no cover
